/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

.wrapper {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 348px) and (max-width: 699px) {
  .main {
    width: 348px;
  }

  ul.menu li a {
    font-size: 18px;
  }

  ul.social_links li a {
    font-size: 28px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .main {
    width: 764px;
  }

  ul.menu li a {
    font-size: 15px;
  }

  ul.social_links li a {
    font-size: 28px;
  }
}

@media screen and (min-width: 1001px) {
  .main {
    width: 764px;
  }

  ul.menu li a {
    font-size: 15px;
  }

  ul.social_links li a {
    font-size: 20px;
  }
}

.main {
  padding: 1.25rem 1rem;
  margin: auto;
}

ul.menu {
  list-style-type: none;
  margin-bottom: 1.125rem;
}

ul.menu li {
  display: inline-block;
  vertical-align: middle;
  margin: 0.25rem;
}

ul.menu li a {
  color: #474747;
  border: solid 1px #cccccc;
  display: block;
  width: 6.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.225rem;
  border-radius: 1.625rem;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  max-width: 100%;
  text-transform: lowercase;
}

ul.menu li a:hover {
  color: #309EDB;
}

hr.top {
  width: 100%;
  padding: 0;
  border: 0;
  height: 1.625rem;
  line-height: 1.625rem;
  display: inline-block;
  background-color: #CCCCCC;
  content: '';
  height: 1px;
  vertical-align: middle;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

ul.social_links {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  list-style-type: none;
}

ul.social_links li {
  display: inline-block;
  margin: 0.25rem;
}

ul.social_links li a {
  color: #CCCCCC;
}

ul.social_links li a:hover {
  color: #309EDB;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home {
  margin-bottom: 1.125rem;
}

#home img {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  width: 9rem;
  border-radius: 100%;
}

#home h1 {
  font-size: 1.5em;
  line-height: 1.25;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.4rem;
  color: #474747;
  width: calc(100% + 0.4rem);
  font-weight: 400;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

#home hr {
  height: 0.5rem;
  line-height: 0.5rem;
  position: relative;
  width: 10%;
  padding: 0;
  border: 0;
  content: '';
  background-color: #CCCCCC;
  height: 1px;
  margin: auto;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

#home p {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.125rem;
  color: #474747;
  font-size: 1.1em;
  line-height: 1.5;
  width: calc(100% + 0.225rem);
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

/*****************************************************************************/
/*
/* Blog Menu
/*
/*****************************************************************************/


@media screen and (min-width: 348px) and (max-width: 699px) {
  div.page_title h1 {
    font-size: 28px;
  }

  div.page_title h2 {
    font-size: 20px;
  }

  h3.post_section {
    width: 50%;
    margin: auto;
  }

  li.post_title {
    text-align: center;
  }
}


@media screen and (min-width: 700px) {
  div.page_title h1 {
    font-size: 42px;
  }

  div.page_title h2 {
    font-size: 24px;
  }

  h3.post_section {
    width: 200px;
  }

  li.post_title {
    text-align: left;
  }
}

div.page_title {
  margin-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #474747;
}

div.page_title h1 {
  letter-spacing: 0.4rem;
  margin-bottom: 10px;
}

div.page_title h2 {
  margin-bottom: 10px;
}

div.month_group {
  margin-bottom: 40px;
}

h3.post_section {
  background-color: #F14207;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
  color: white;
  padding: 0.25em 0.5em;
  margin-bottom: 0.75em;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

ul.posts_list {
  list-style: none;
}

li.post_title {
  margin-top: 20px;
  margin-left: 20px;
}

li.post_title a {
  font-size: 1.2em;
  font-weight: bold;
  color: #171819;
  text-decoration: none;
  line-height: 1.2;
  font: normal 1.25em/1.5 "PT Serif", Cambria, Georgia, Times, "Times New Roman", serif;
}

li.post_title a:hover {
  text-decoration: underline;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

div.post_page {
  font-family: "PT Serif", Cambria, Georgia, Times, "Times New Roman", serif;
  text-align: left;
  color: #202020;
  text-rendering: optimizelegibility;
}

h2.post_title {
  font-size: 1.8em;
}

div.post_text {
  line-height: 1.68em;
  font-size: 1.2em;
}

hr.bottom_post {
  position: relative;
  width: 100%;
  left: -15px;
  padding: 0;
  border: 0;
  height: 1.625rem;
  line-height: 1.625rem;
  display: inline-block;
  background-color: #CCCCCC;
  content: '';
  height: 1px;
  vertical-align: middle;
  margin-top: 2.125rem;
  margin-bottom: 2.125rem;
  margin-left: 0;
  text-align: center;
}

div.share {
  text-align: left;
  font-size: 1.2em;
  font-family: "PT Serif", Cambria, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}


div.share p i {
  font-size: 30px;
  margin-left: 10px;
}

div.share p i.fa-facebook-official {
  color: #4267b2;
}

div.share p i.fa-twitter-square {
  color: #309EDB;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
