---
layout: menu
title: Nelio Carneiro - Writing
---

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%B %Y" %}
  {% if currentdate != date %}
  {% unless forloop.first %}</ul></div>{% endunless %}
    <div class="month_group">
    <h3 class="post_section" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
    <ul class="posts_list">
    {% assign date = currentdate %}
  {% endif %}
    <li class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
