<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="books.html">Books</a></li>
        </ul>
        <hr class="top"></hr>

        {{ content }}

        <hr class="top"></hr>
        <ul class="social_links">
          <li><a href="http://twitter.com/neliojrr"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://github.com/neliojrr"><i class="fa fa-github"></i></a></li>
          <li><a href="http://medium.com/@neliojrr"><i class="fa fa-medium"></i></a></li>
          <li><a href="http://facebook.com/neliojrr"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://instagram.com/neliojrr"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/nelio-carneiro-6b323025/"><i class="fa fa-linkedin"></i></a></li>
        </ul>

      </div>
    </div>
  </body>
</html>
